<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Container Bootstrap</title>
    <link rel="stylesheet" href="style4.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHTTwrAZ3uK9PEQjF+ggQ2RYZ5CqQk+tFuz0zMJW/SDcZR4iGi2uB0q6ix6wYQ=" crossorigin="anonymous">
</head>
<body style="background-color: rgb(6, 6, 25);">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzqK0BDuE4y/cQRDkK/cIWBaw7IWj6q3vCZs1rAMqzmh+3fXojR10i4cU6qDC" crossorigin="anonymous"></script>

    <div class="container-fluid" 
    style=
    "background-color: white;
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: 250px;
    height: 700px;">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" style="font-size: 30px; border-spacing: 100px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Verified At</th>
                        <th>Verified</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <hr style="width: 100%;">
                        <td>1</td>
                        <td>Mas Anies</td>
                        <td>zdh123UUhG</td>
                        <td>blebl</td>
                        <td>here</td>
                        <td>fbkufkuf</td>
                        <td>hjfgusfg</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Budi</td>
                        <td>123456789</td>
                        <td>another description</td>
                        <td>here</td>
                        <td>fbkufuf</td>
                        <td>eufgkwusfg</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Cici</td>
                        <td>987654321</td>
                        <td>last description</td>
                        <td>here</td>
                        <td>fbgakuf</td>
                        <td>hjkwusfg</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>
</html>
